body {
  //font-size: 15px;
  line-height: 24px;
  font: 16px/2 'ProximaNova_Regular', Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #ECF4FA;
}

main {
  height: 100%;
  background-color: #ECF4FA;
}