.template-name {
	color: #8DA2B3;
    text-transform: none;
    margin: 0;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 20px;
    font-weight: normal;
}

.custom-img {
	width: 100%;
	margin-bottom: 50px;
}

.chromes {
	width: 100%;
}

.filter {
	width: 40%;
}